.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 40px 40px 40px;

  &__number {
    color: #4f2833;
    font-size: 17px;
    font-weight: 700;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left,
    &-right,
    &-center {
      $size: 40px;

      width: $size;
      height: $size;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-left,
    &-right {
      img {
        border-radius: 50%;
      }
    }


    &-left {
      margin-right: auto;
    }
    &-right {
      margin-left: auto;
    }

    &-center {
      $size: 60px;

      width: $size;
      height: $size;
      display: flex;
      flex-direction: column;

      span {
        white-space: nowrap;
        color: #000000;
        font-size: 8px;
        font-weight: 700;
        display: block;
        margin: 0 0 5px 0;
      }

      &.gift {
        width: 90px;
        top: -10px;
      }
    }


    .shadow {
      box-shadow: 7px 7px 30px 0px rgba(50, 50, 50, 0.45);
    }
  }

}
