.form {
  $gutter: 10px;

  position: relative;
  margin: 0 -#{$gutter};
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 400px;
  justify-content: center;
  direction: ltr;
  margin-bottom: 20px;

  &-col {
    padding: 0 $gutter;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    [type="text"],
    [type="tel"],
    [type="email"],
    [type="number"] {
      background: none;
      background-size: contain;
      height: 30px;
      padding: 0 10px;
      margin: 0;
      outline: none;
      width: 100%;
      border: none;
      font-size: 13px;
      font-weight: 300;
      color: #000;
      box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.22);
      border-radius: 4px;
      direction: rtl;
    }

    &-4 {
      width: 78px;

      [type="text"],
      [type="tel"],
      [type="email"],
      [type="number"] {
        background: url('../images/input_xs.svg') center center no-repeat;
      }

    }
    &-8 {
      width: 162px;

      [type="text"],
      [type="tel"],
      [type="email"],
      [type="number"] {
        background: url('../images/input_md.svg') center center no-repeat;
      }
    }
    &-12 {
      width: 242px;

      [type="text"],
      [type="tel"],
      [type="email"],
      [type="number"] {
        background: url('../images/input_lg.svg') center center no-repeat;
      }
    }
  }

  label {
    display: block;
    color: #000;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    text-align: right;
    direction: rtl;
  }

  &-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }

  [type="submit"] {
    $size: 41px;

    width: $size;
    height: $size;
    border-radius: 50%;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background: url('../images/submit.svg') center center no-repeat;
    background-size: contain;

    &:active,
    &:focus {
      background-image: url('../images/submit_active.svg');
    }
  }

}
